/* net slider image */

.imgAllBox {
    margin-top: 50px;

    h2 {
        text-align: center;
        font-size: 36px;
        font-weight: 600;
    }

    p {
        text-align: center;
        font-size: 14px;
        font-weight: 300;
        color: #777;
        line-height: 22px;
        padding: 10px;
    }
}

.galleryOverlay {
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 100;
}

.imgBox {
    width: 50%;
    height: 70%;
    left: 25%;
    top: 15%;
    position: fixed;
    background: white;
    transition: 0.5s;
    transform: scale(0);
    z-index: 101;
    /* padding: 20px; */
    text-align: center;
    border-radius: 10px;

    img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
}

.imgBox span.close-btn {
    position: absolute;
    right: 10px;
    font-size: 40px;
    font-weight: 500;
    color: red;
    cursor: pointer;
}

.caption-box {
    position: absolute;
    bottom: 0;
    left: 80px;
    width: 80%;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
    font-size: 18px;
    display: block;
}

.prev-arrow,
.next-arrow {
    position: absolute;
    top: 50%;
    font-size: 30px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    cursor: pointer;
    z-index: 102;
}

.prev-arrow {
    left: 10px;
    transform: translateY(-50%);
}

.next-arrow {
    right: 10px;
    transform: translateY(-50%);
}

.imgContainer {
    width: 90%;
    margin: 40px auto 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

/* .gallery {
    flex-basis: 23%;
    margin: 10px 0;
} */

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 10px;

    img {
        width: 100%;
        border-radius: 10px;
        cursor: pointer;
        transition: transform 0.3s;

        &:hover {
            transform: scale(1.1);
        }
    }
}

.galleryOverlayShow {
    display: block;
}

.imgBoxShow {
    transform: scale(1);
}

figure {
    position: relative;
    display: inline-block;
    margin: 10px;
}

figcaption {
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 18px;
    border-radius: 50px;
    width: 90%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    padding: 5px;
    font-size: 14px;
}

.figcaptionHide {
    display: none;
}

.pagination {
    text-align: center;
    margin-top: 20px;
}

.pagination button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
}

.pagination button:hover {
    background-color: #0056b3;
}

.pagination button:disabled {
    background-color: #585757;
    cursor: not-allowed;
}

/*shop now*/

.shopLeft {
    flex-basis: 90%;
    margin: auto;
}

.add img {
    height: 300px;
    width: 100%;
    background-size: cover;
}

.shopLeft img {

    width: 100%;
}

.shopLeft h2 {
    color: #222;
    font-weight: 600;
    margin: 30px 0;
}

.shopLeft p {
    color: #999;
    padding: 0;
}

.headingRow {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* productSec */

.productSec {
    max-width: 100%;
    margin: auto;
    /* padding: 30px 0px 0px 0px; */
}

.headingRow {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.headingRow h2 {
    font-size: 22px;
}

.headingRow a {
    color: #328839;
    font-size: 18px;
}

.productRow {
    width: 100%;
    justify-content: space-between;
    margin: 30px 0px 0px 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    /*or margin-auto  productIteam */
}

.productIteam {
    flex-basis: 14%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px #e5e0e0;
    border: 1px solid #ccc;
    /*margin: auto;*/
    margin-bottom: 24px;
}

.productImg {
    text-align: center;
    padding: 15px;
}

.productImg p {
    background-color: #f8f8f8;
    display: flex;
    width: 70px;
    gap: 5px;
    padding: 2px;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    text-align: left;
}

.productContent {
    padding: 15px;
    padding-top: 0px;
}

.productContent h3 {
    margin-bottom: 15px;
    font-size: 14px;
}

.productContent p {
    font-size: 14px;
    color: #836f6f;
}

.btnPriceOuter {
    display: flex;
    margin-top: 15PX;
    align-items: center;
    justify-content: space-between;
}

.btnPriceOuter button {
    background-color: #f7fff9;
    padding: 7px 15px;
    border-radius: 4px;
    border: #328839 1px solid;
}

/* commentBox */

.comment {
    display: grid;
    width: 90%;
    margin: auto;
}


.conShop{
    margin: 50px 0 0 100px;
}

.commentBox {
    width: 80%;
    border: 1px solid #ccc;
    margin-top: 80px;
    padding: 10px 20px;
}

.commentBox h3 {
    text-align: left;
    font-size: 22px;
}

.commentForm input,
.commentForm textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: #f0f0f0;
}

.commentForm button {
    margin: 10px 0;
    color: black;
}